# =======================
# Python backend ignores
# =======================
venv/
__pycache__/
*.py[cod]
.env

# =======================
# Node.js frontend ignores
# =======================
frontend/node_modules/
npm-debug.log*
.next/
out/
dist/
